In [46]:
import numpy as np
import pandas as pd

In [48]:
book = pd.read_csv('Books.csv')
user = pd.read_csv('Users.csv')
rate = pd.read_csv('Ratings.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_20880\3777013432.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('Books.csv')

In [49]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [50]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [51]:
rate.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [56]:
print(book.shape)
print(user.shape)
print(rate.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [58]:
book = book[book['Book-Title'].str.contains(r'^[A-Za-z0-9\s\.,!?\'"()-]+$', na=False)] # Keeping only English Names

In [60]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183982 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 183982 non-null  object
 1   Book-Title           183982 non-null  object
 2   Book-Author          183981 non-null  object
 3   Year-Of-Publication  183982 non-null  object
 4   Publisher            183980 non-null  object
 5   Image-URL-S          183982 non-null  object
 6   Image-URL-M          183982 non-null  object
 7   Image-URL-L          183982 non-null  object
dtypes: object(8)
memory usage: 12.6+ MB

In [62]:
book.drop(columns=['Image-URL-S','Image-URL-M','Image-URL-L'],inplace=True)

In [64]:
ratings=book.merge(rate,on='ISBN')

In [66]:
ratings.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,41385,0

In [68]:
ratings.shape

(768907, 7)

In [70]:
len(list(set(book['ISBN'].to_list()) - set(rate['ISBN'].to_list()))) # Number of unique books which dont have a rating

758

In [72]:
book['ISBN'].is_unique

True

In [74]:
rate['ISBN'].is_unique

False

In [76]:
len(set(ratings['ISBN'].to_list())) # Number of unique books which have a rating

183224

In [78]:
ratings.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
User-ID                0
Book-Rating            0
dtype: int64

In [80]:
ratings.dropna(inplace=True)

In [82]:
ratings.shape

(768904, 7)

In [84]:
ratings.reset_index(inplace=True)

In [86]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768904 entries, 0 to 768903
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                768904 non-null  int64
 1   ISBN                 768904 non-null  object
 2   Book-Title           768904 non-null  object
 3   Book-Author          768904 non-null  object
 4   Year-Of-Publication  768904 non-null  object
 5   Publisher            768904 non-null  object
 6   User-ID              768904 non-null  int64
 7   Book-Rating          768904 non-null  int64
dtypes: int64(3), object(5)
memory usage: 46.9+ MB

In [88]:
ratings.head()

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
2,2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11400,0
3,3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
4,4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,41385,0

We merge the two datasets on the 'ISBN' column. To ensure more reliable results, we will filter our data to include only users who have rated more than 100 books and books that have received more than 50 votes. Entries that don't meet these criteria will be dropped from the dataset.

In [91]:
test = ratings.groupby('User-ID')

In [93]:
test.first() # first entries in all the groups formed.

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Book-Rating
User-ID,,,,,,,
2,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,0
8,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,5
9,78,0440234743,The Testament,John Grisham,1999,Dell,0
14,678,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic,5
16,3187,0345402871,Airframe,Michael Crichton,1997,Ballantine Books,9
...,...,...,...,...,...,...,...
278846,114525,0060809833,Brave New World,Aldous Huxley,1989,Harpercollins,8
278849,94095,0445210214,Mythology 101 (Questar Fantasy),Jody Lynn Nye,1993,Warner Books,0
278851,6600,1558531025,Life's Little Instruction Book (Life's Little ...,H. Jackson Brown,1991,Thomas Nelson,8
278852,529194,0449907597,Dave Barry's Only Travel Guide You'll Ever Need,Dave Barry,1992,Ballantine Books,8
278854,103261,0553579606,Ashes to Ashes,TAMI HOAG,2000,Bantam,8

In [95]:
user_id = test['Book-Rating'].count()>100
user_id

User-ID
2         False
8         False
9         False
14        False
16        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 76826, dtype: bool

In [97]:
user_id[~user_id]  # all false values

User-ID
2         False
8         False
9         False
14        False
16        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 75605, dtype: bool

In [99]:
user_id[user_id] # all true values for people who have voted more than 100 books

User-ID
254       True
507       True
1733      True
2033      True
2110      True
          ...
277478    True
277639    True
278137    True
278188    True
278418    True
Name: Book-Rating, Length: 1221, dtype: bool

In [101]:
ratings1 = ratings[ratings['User-ID'].isin(user_id[user_id].index)]
ratings1

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
3,3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
6,6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,85526,0
7,7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,96054,0
10,10,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,177458,0
20,20,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,11676,9
...,...,...,...,...,...,...,...,...
768882,768885,0898860792,Cross-country skiing,Ned Gillette,1983,Mountaineers,269566,0
768897,768900,0231128444,Slow Food(The Case For Taste),Carlo Petrini,2003,Columbia University Press,275970,0
768898,768901,1845170423,Cocktail Classics,David Biggs,2004,Connaught,275970,7
768902,768905,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,276680,0
768903,768906,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,276680,0

In [103]:
test = ratings.groupby('ISBN')

In [105]:
test.first()

,index,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
ISBN,,,,,,,
0001010565,727151,Mog's Christmas,Judith Kerr,1992,Collins,86123,0
0001046438,422669,Liar,Stephen Fry,0,Harpercollins Uk,23902,9
0001046713,603039,Twopence to Cross the Mersey,Helen Forrester,1992,HarperCollins Publishers,196149,0
0001046934,653051,The Prime of Miss Jean Brodie,Muriel Spark,1999,Trafalgar Square Publishing,206300,0
0001047213,421872,The Fighting Man,Gerald Seymour,1993,HarperCollins Publishers,23902,9
...,...,...,...,...,...,...,...
B000234N3A,706827,Fraud,David Rakoff,2001,Doubleday,100906,9
B000234N76,518263,Falling Angels,Tracy Chevalier,2001,E P Dutton,264317,0
B00029DGGO,631645,"Good Wife Strikes Back, The",Elizabeth Buchan,0,Viking Adult,100088,0
B0002JV9PY,692234,The Blockade Runners,Jules Verne,0,Digireads.com,179791,0
B0002K6K8O,692232,The Underground City,Jules Verne,0,Digireads.com,179791,0

In [107]:
isbn = test['Book-Rating'].count()>50 # Instead of book-rating, any other column can be used because we just need to see the count
isbn[isbn]

ISBN
000649840X    True
002026478X    True
0020442203    True
0060008032    True
0060008776    True
              ...
1860492592    True
3257229534    True
3404148665    True
3442541751    True
3492045170    True
Name: Book-Rating, Length: 1709, dtype: bool

In [109]:
ratings2 = ratings1[ratings1['ISBN'].isin(isbn[isbn].index)]
ratings2

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
76,76,0440234743,The Testament,John Grisham,1999,Dell,277478,0
81,81,0440234743,The Testament,John Grisham,1999,Dell,2977,0
83,83,0440234743,The Testament,John Grisham,1999,Dell,3363,0
86,86,0440234743,The Testament,John Grisham,1999,Dell,7346,9
89,89,0440234743,The Testament,John Grisham,1999,Dell,9747,0
...,...,...,...,...,...,...,...,...
512578,512578,067155302X,Harvest,Tess Gerritsen,1997,Pocket,250764,0
512579,512579,067155302X,Harvest,Tess Gerritsen,1997,Pocket,251843,0
512581,512581,067155302X,Harvest,Tess Gerritsen,1997,Pocket,261829,0
512582,512582,067155302X,Harvest,Tess Gerritsen,1997,Pocket,262399,0
512583,512583,067155302X,Harvest,Tess Gerritsen,1997,Pocket,264321,7

In [111]:
len(set(ratings2['ISBN'].to_list()))

1709

In [113]:
# ratings2.to_csv('cleaned.csv')

In [115]:
book_pivot_table = ratings2.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
book_pivot_table.fillna(0, inplace=True)
print('datset dimension: ', (book_pivot_table.shape))
book_pivot_table

datset dimension:  (1543, 1216)

User-ID,254,507,1733,2033,2110,2276,2358,2766,2891,2977,...,274308,274808,275970,276680,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YOU BELONG TO ME,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
# book_pivot_table.to_csv('pivot.csv')

In [123]:
from scipy.sparse import csr_matrix
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity

In [125]:
similarity_score=cosine_similarity(book_pivot_table)  # Training using cosine similarity

In [127]:
def recommend_cosine(book_name):
    index=np.where(book_pivot_table.index==book_name)[0][0]
    print(index)
    similar_items=sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    print(similar_items)
    for i in similar_items:
        book_title = book_pivot_table.index[i[0]]
        print(book_title)

In [129]:
tsvd = TruncatedSVD(n_components=200, random_state=42) # reduce the dimentionality - similar to PCA
book_pivot_table_tsvd = tsvd.fit_transform(book_pivot_table)

In [131]:
indices = book_pivot_table.index

In [133]:
book_rating_clustering = pd.DataFrame(data=book_pivot_table_tsvd, index=indices)

In [135]:
similarity_score_t=cosine_similarity(book_rating_clustering)  # Training using cosine similarity

In [137]:
similarity_score.shape

(1543, 1543)

In [139]:
def recommend_cosine_t(book_name):
    index=np.where(book_rating_clustering.index==book_name)[0][0]
    print(index)
    similar_items=sorted(list(enumerate(similarity_score_t[index])),key=lambda x:x[1],reverse=True)[1:6]
    print(similar_items)
    for i in similar_items:
        book_title = book_rating_clustering.index[i[0]]
        print(book_title)

In [141]:
book_sparse = csr_matrix(book_pivot_table) # Training using K Nearest Neighbours

In [143]:
model = NearestNeighbors(algorithm='brute')

In [145]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [147]:
def recommend_k(book_name):
    index=np.where(book_pivot_table.index==book_name)[0][0]
    print(index)
    dist, sugg = model.kneighbors(book_pivot_table.iloc[index, :].values.reshape(1,-1),n_neighbors=6)
    print(dist)
    print(sugg)
    for i in range(len(sugg[0])):
        print(book_pivot_table.index[sugg[0][i]])

In [149]:
recommend_cosine('Harry Potter and the Chamber of Secrets (Book 2)')

488
[(491, 0.6083797382111059), (489, 0.5966438374223887), (492, 0.4437240896179556), (493, 0.41777566716507103), (490, 0.33479541159796483)]
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
Harry Potter and the Order of the Phoenix (Book 5)

In [209]:
recommend_cosine("1984")

1
[(188, 0.2798356805305174), (1323, 0.2523071120929916), (1206, 0.24247231722174725), (713, 0.22913640056158124), (124, 0.22616959374680695)]
Brave New World
The Restaurant at the End of the Universe (Hitchhiker's Trilogy (Paperback))
The Hitchhiker's Guide to the Galaxy
Naked
Awakening

In [153]:
recommend_cosine_t('Harry Potter and the Chamber of Secrets (Book 2)')

488
[(491, 0.6404105160674266), (489, 0.6315394141793773), (492, 0.48481900162868957), (493, 0.43585692937630466), (490, 0.34319992718447256)]
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
Harry Potter and the Order of the Phoenix (Book 5)

In [155]:
recommend_k('Harry Potter and the Chamber of Secrets (Book 2)')

488
[[ 0.         71.87836949 73.51700484 79.10436145 81.16187529 81.20498753]]
[[488 489 491 492 533 359]]
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Hunting Season (Anna Pigeon Novels (Paperback))
Eaters of the Dead

In [157]:
import pickle
import bz2file as bz2

In [161]:
# pickle.dump(similarity_score,open("cosine.pkl",'wb'))
# pickle.dump(similarity_score_t,open("cosine_t.pkl",'wb'))
# pickle.dump(model,open("k_neighbor.pkl",'wb'))

In [163]:
with bz2.BZ2File('cosine' + '.pbz2', 'w') as f:
    pickle.dump(similarity_score, f)

In [165]:
data = bz2.BZ2File('test.pbz2', 'rb')
data = pickle.load(data)

In [167]:
with bz2.BZ2File('k_neighbor' + '.pbz2', 'w') as f:
    pickle.dump(model, f)

In [169]:
import requests

In [171]:
params = {'inauthor': 'AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw', 'intitle': 'algernon'}
new_params = 'q='
new_params += '+'.join('{}:{}'.format(key, value) for key, value in params.items())

print(new_params)

r = requests.get('https://www.googleapis.com/books/v1/volumes?', params=new_params)
print('URL', r.url)

q=inauthor:AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw+intitle:algernon
URL https://www.googleapis.com/books/v1/volumes?q=inauthor:AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw+intitle:algernon

In [313]:
api_key = 'AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw'

# Define the search query (for example: 'python programming')
query = 'python programming'
isbn = '0439136369'
title = 'A Time to Kill'

# Construct the API URL
# url = f'https://www.googleapis.com/books/v1/volumes?q={query}&key={api_key}'
# url = f'https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}&key={api_key}'
url = f'https://www.googleapis.com/books/v1/volumes?q=intitle:{title}&key={api_key}'

# Make the request to the API
response = requests.get(url)
response.json()

# Check if the request was successful
# if response.status_code == 200:
#     # Parse the JSON response
#     books = response.json()
    
#     # Loop through the results and print book titles and authors
#     for item in books['items']:
#         title = item['volumeInfo'].get('title', 'No Title')
#         authors = item['volumeInfo'].get('authors', ['No Author'])
#         print(f'Title: {title}')
#         print(f'Authors: {", ".join(authors)}\n')
# else:
#     print(f"Failed to fetch data: {response.status_code}")

{'kind': 'books#volumes',
 'totalItems': 348,
 'items': [{'kind': 'books#volume',
   'id': 'Xp39K0c0IaEC',
   'etag': 'G1Vh/GwbAvk',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/Xp39K0c0IaEC',
   'volumeInfo': {'title': 'A Time To Kill',
    'authors': ['John Grisham'],
    'publisher': 'Random House',
    'publishedDate': '2010-04-21',
    'description': "John Grisham's first and most shocking legal thriller, adapted as a film starring Samuel L. Jackson and Matthew McConaughey. ______________________________ THE MULTI-MILLION COPY BESTSELLER FROM THE MASTER OF LEGAL THRILLERS When Carl Lee Hailey guns down the violent racists who raped his ten-year-old daughter, the people of the small town of Clanton, Mississippi see it as justice done, and call for his acquittal. But when extremists outside Clanton - including the KKK - hear that a black man has killed two white men, they invade the town, determined to destroy anything and anyone that opposes their sense of justice. A media circus descends on Clanton. As tensions mount, Hailey hires the inexperienced Jake Brigance to defend him. It's the kind of case that could make a young lawyer's career. But it's also the kind of case that could get a young lawyer killed. ______________________________ 'A master at the art of deft characterisation and the skilful delivery of hair-raising crescendos' Irish Independent 'John Grisham is the master of legal fiction!' Jodi Picoult 'The best thriller writer alive' Ken Follett 'John Grisham has perfected the art of cooking up convincing, fast-paced thrillers' Telegraph 'Grisham is a superb, instinctive storyteller' The Times 'Grisham's storytelling genius reminds us that when it comes to legal drama, the master is in a league of his own. . .' Daily Record 'Masterful - when Grisham gets in the courtroom he lets rip, drawing scenes so real they're not just alive, they're pulsating' Mirror 'A giant of the thriller genre' TimeOut The original, epoch-defining Jake Brigance novel. Brigance returns in SYCAMORE ROW and A TIME FOR MERCY.",
    'industryIdentifiers': [{'type': 'ISBN_13', 'identifier': '9781407059518'},
     {'type': 'ISBN_10', 'identifier': '1407059513'}],
    'readingModes': {'text': True, 'image': False},
    'pageCount': 754,
    'printType': 'BOOK',
    'categories': ['Fiction'],
    'averageRating': 5,
    'ratingsCount': 2,
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': True,
    'contentVersion': '0.31.23.0.preview.2',
    'panelizationSummary': {'containsEpubBubbles': False,
     'containsImageBubbles': False},
    'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=Xp39K0c0IaEC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api',
     'thumbnail': 'http://books.google.com/books/content?id=Xp39K0c0IaEC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api'},
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=Xp39K0c0IaEC&printsec=frontcover&dq=intitle:A+Time+to+Kill&hl=&cd=1&source=gbs_api',
    'infoLink': 'https://play.google.com/store/books/details?id=Xp39K0c0IaEC&source=gbs_api',
    'canonicalVolumeLink': 'https://play.google.com/store/books/details?id=Xp39K0c0IaEC'},
   'saleInfo': {'country': 'IN',
    'saleability': 'FOR_SALE',
    'isEbook': True,
    'listPrice': {'amount': 353.11, 'currencyCode': 'INR'},
    'retailPrice': {'amount': 247.18, 'currencyCode': 'INR'},
    'buyLink': 'https://play.google.com/store/books/details?id=Xp39K0c0IaEC&rdid=book-Xp39K0c0IaEC&rdot=1&source=gbs_api',
    'offers': [{'finskyOfferType': 1,
      'listPrice': {'amountInMicros': 353110000, 'currencyCode': 'INR'},
      'retailPrice': {'amountInMicros': 247180000, 'currencyCode': 'INR'}}]},
   'accessInfo': {'country': 'IN',
    'viewability': 'PARTIAL',
    'embeddable': True,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': True,
     'acsTokenLink': 'http://books.google.co.in/books/download/A_Time_To_Kill-sample-epub.acsm?id=Xp39K0c0IaEC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api'},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=Xp39K0c0IaEC&hl=&source=gbs_api',
    'accessViewStatus': 'SAMPLE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': '&#39; Jodi Picoult &#39;The best thriller writer alive&#39; Ken Follett &#39;John Grisham has perfected the art of cooking up convincing and fast-paced thrillers&#39; Telegraph &#39;Grisham is a superb, instinctive storyteller&#39; The Times &#39;Grisham&#39;s storytelling ...'}},
  {'kind': 'books#volume',
   'id': 'ui4JSwAACAAJ',
   'etag': 'PXpkW6C4x+A',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/ui4JSwAACAAJ',
   'volumeInfo': {'title': 'A Time to Kill',
    'authors': ['John Grisham'],
    'publisher': 'Turtleback Books',
    'publishedDate': '2009',
    'description': 'Grisham\'s gripping classic is being reissued on its 20th anniversary for the first time in a tall Premium Edition, featuring new materials from the #1 "New York Times"-bestselling author. Reissue.',
    'industryIdentifiers': [{'type': 'ISBN_10', 'identifier': '0606147195'},
     {'type': 'ISBN_13', 'identifier': '9780606147194'}],
    'readingModes': {'text': False, 'image': False},
    'pageCount': 0,
    'printType': 'BOOK',
    'categories': ['African American girls'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': 'preview-1.0.0',
    'panelizationSummary': {'containsEpubBubbles': False,
     'containsImageBubbles': False},
    'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=ui4JSwAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api',
     'thumbnail': 'http://books.google.com/books/content?id=ui4JSwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=ui4JSwAACAAJ&dq=intitle:A+Time+to+Kill&hl=&cd=2&source=gbs_api',
    'infoLink': 'http://books.google.co.in/books?id=ui4JSwAACAAJ&dq=intitle:A+Time+to+Kill&hl=&source=gbs_api',
    'canonicalVolumeLink': 'https://books.google.com/books/about/A_Time_to_Kill.html?hl=&id=ui4JSwAACAAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'NOT_FOR_SALE',
    'isEbook': False},
   'accessInfo': {'country': 'IN',
    'viewability': 'NO_PAGES',
    'embeddable': False,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': False},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=ui4JSwAACAAJ&hl=&source=gbs_api',
    'accessViewStatus': 'NONE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'Grisham&#39;s gripping classic is being reissued on its 20th anniversary for the first time in a tall Premium Edition, featuring new materials from the #1 &quot;New York Times&quot;-bestselling author. Reissue.'}},
  {'kind': 'books#volume',
   'id': '4y7RjgEACAAJ',
   'etag': 'SsxNnvcMVF8',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/4y7RjgEACAAJ',
   'volumeInfo': {'title': 'A Time to Kill',
    'authors': ['John Grisham'],
    'publisher': 'Bantam Dell Publishing Group',
    'publishedDate': '1993',
    'description': 'When a ten-year-old Black girl is brutally raped by two drunken white men in the small southern town of Clanton, Mississippi, the ensuing tension and violence threatens to destroy the town',
    'industryIdentifiers': [{'type': 'ISBN_10', 'identifier': '0385471122'},
     {'type': 'ISBN_13', 'identifier': '9780385471121'}],
    'readingModes': {'text': False, 'image': False},
    'pageCount': 487,
    'printType': 'BOOK',
    'categories': ['Fiction'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': 'preview-1.0.0',
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=4y7RjgEACAAJ&dq=intitle:A+Time+to+Kill&hl=&cd=3&source=gbs_api',
    'infoLink': 'http://books.google.co.in/books?id=4y7RjgEACAAJ&dq=intitle:A+Time+to+Kill&hl=&source=gbs_api',
    'canonicalVolumeLink': 'https://books.google.com/books/about/A_Time_to_Kill.html?hl=&id=4y7RjgEACAAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'NOT_FOR_SALE',
    'isEbook': False},
   'accessInfo': {'country': 'IN',
    'viewability': 'NO_PAGES',
    'embeddable': False,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': False},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=4y7RjgEACAAJ&hl=&source=gbs_api',
    'accessViewStatus': 'NONE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'Before &quot;The Firm&quot; and &quot;The Pelican Brief&quot; made him a superstar, John Grisham wrote this riveting story of retribution and justice -- at last it&#39;s available in a Doubleday hardcover edition.'}},
  {'kind': 'books#volume',
   'id': 'MDW0kgEACAAJ',
   'etag': 'mYi/D+U+FBE',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/MDW0kgEACAAJ',
   'volumeInfo': {'title': 'A Time to Kill',
    'authors': ['John Grisham'],
    'publisher': 'Macmillan Reference USA',
    'publishedDate': '1993-03-01',
    'description': 'Before "The Firm" and "The Pelican Brief" made him a superstar, John Grisham wrote this riveting story of retribution and justice -- at last it\'s available in a Doubleday hardcover edition. In this searing courtroom drama, best-selling author John Grisham probes the savage depths of racial violence...as he delivers a compelling tale of uncertain justice in a small southern town...Clanton, Mississippi. The life of a ten-year-old girl is shattered by two drunken and remorseless young man. The mostly white town reacts with shock and horror at the inhuman crime. Until her black father acquires an assault rifle -- and takes justice into his own outraged hands. For ten days, as burning crosses and the crack of sniper fire spread through the streets of Clanton, the nation sits spellbound as young defense attorney Jake Brigance struggles to save his client\'s life...and then his own... "From the Hardcover edition."',
    'industryIdentifiers': [{'type': 'ISBN_10', 'identifier': '0816155909'},
     {'type': 'ISBN_13', 'identifier': '9780816155903'}],
    'readingModes': {'text': False, 'image': False},
    'pageCount': 480,
    'printType': 'BOOK',
    'categories': ['Large type books'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': 'preview-1.0.0',
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=MDW0kgEACAAJ&dq=intitle:A+Time+to+Kill&hl=&cd=4&source=gbs_api',
    'infoLink': 'http://books.google.co.in/books?id=MDW0kgEACAAJ&dq=intitle:A+Time+to+Kill&hl=&source=gbs_api',
    'canonicalVolumeLink': 'https://books.google.com/books/about/A_Time_to_Kill.html?hl=&id=MDW0kgEACAAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'NOT_FOR_SALE',
    'isEbook': False},
   'accessInfo': {'country': 'IN',
    'viewability': 'NO_PAGES',
    'embeddable': False,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': False},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=MDW0kgEACAAJ&hl=&source=gbs_api',
    'accessViewStatus': 'NONE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'Before &quot;The Firm&quot; and &quot;The Pelican Brief&quot; made him a superstar, John Grisham wrote this riveting story of retribution and justice -- at last it&#39;s available in a Doubleday hardcover edition.'}},
  {'kind': 'books#volume',
   'id': 'VzEIEAAAQBAJ',
   'etag': '9ChmAQWD1sk',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/VzEIEAAAQBAJ',
   'volumeInfo': {'title': 'A TIME TO KILL',
    'authors': ['JOHN GRISHAM Translated Into Marathi By BAL BHAGWAT'],
    'publisher': 'MEHTA PUBLISHING HOUSE',
    'publishedDate': '2020-11-11',
    'description': 'क्लॅन्टन, मिसिसिपी, दोन दारूड्या आणि अत्यंत वाईट प्रवृत्तीच्या माणसांमुळे दहा वर्षांच्या एका छोट्या मुलीचे आयुष्य पार उद्ध्वस्त होते. गोरे लोक बहुसंख्येने असणाNया शहरातल्या लोकांना या भयानक घटनेमुळे मोठाच धक्का बसतो. मग त्या मुलीचा कृष्णवर्णीय पिता अ\u200dॅसॉल्ट रायफल मिळवतो आणि त्या पाशवी गुन्हेगारांना ठार मारतो. पण हे मिसिसिपी राज्य असते. घृणास्पद अत्याचार करणारे गोरे लोक कितीही नादान असले तरी एका काळ्या माणसाने त्यांचा खून करणे तिथे मान्य होत नाही. पुढले दहा दिवस कु क्लस क्लान, जळते व्रूâस, खून, धाकदपटशा, स्नायपर रायफल्स या गोष्टी क्लॅन्टनच्या रस्त्यांवर जबरदस्त दहशत निर्माण करतात. स्वत:च्या अशिलाचा जीव वाचवण्याच्या प्रयत्नात असलेला बचाव पक्षाचा तरुण अ\u200dॅटर्नी ब्रिगॅन्स याला स्वत:चा आणि कुटुंबाचा जीव वाचवायचीही धडपड करायला लागते. A Time To Kill is available in paperback. The book has 672 pages. The language of the book is English, and the author of the book is John Grisham. A ten-year old African American girl is brutally raped and beaten by two white racist drunken men. Inspite of committing such a heinous crime, the perpetrators remain unrepentant. This horrendous act unleashes mayhem in the town of Clayton, Mississippi where the story is set. Carl Lee, the father of the wronged girl, is driven into a mad rage and decides to take the law in his hands in order to bring justice to his daughter. Armed with an assault rifle, he sets out to avenge the gruesome crime committed on his daughter and kills the culprits. He is arrested and is to be tried for capital murder. This is a moving tale about a young defence lawyer, Jake Brigance, who decides to defend the black Vietnam war hero. The people of the town are divided in their opinion about the crime committed by Carl. The book takes you through a journey of the lawyer’s struggle to save his client. Also at stake is the young attorney’s life. The novel was published in the year 1992 by RHUK.',
    'industryIdentifiers': [{'type': 'ISBN_13', 'identifier': '9789353175245'},
     {'type': 'ISBN_10', 'identifier': '9353175240'}],
    'readingModes': {'text': True, 'image': True},
    'pageCount': 546,
    'printType': 'BOOK',
    'categories': ['Fiction'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': '1.1.1.0.preview.3',
    'panelizationSummary': {'containsEpubBubbles': False,
     'containsImageBubbles': False},
    'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=VzEIEAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api',
     'thumbnail': 'http://books.google.com/books/content?id=VzEIEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api'},
    'language': 'mr',
    'previewLink': 'http://books.google.co.in/books?id=VzEIEAAAQBAJ&printsec=frontcover&dq=intitle:A+Time+to+Kill&hl=&cd=5&source=gbs_api',
    'infoLink': 'https://play.google.com/store/books/details?id=VzEIEAAAQBAJ&source=gbs_api',
    'canonicalVolumeLink': 'https://play.google.com/store/books/details?id=VzEIEAAAQBAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'FOR_SALE',
    'isEbook': True,
    'listPrice': {'amount': 506.22, 'currencyCode': 'INR'},
    'retailPrice': {'amount': 253.11, 'currencyCode': 'INR'},
    'buyLink': 'https://play.google.com/store/books/details?id=VzEIEAAAQBAJ&rdid=book-VzEIEAAAQBAJ&rdot=1&source=gbs_api',
    'offers': [{'finskyOfferType': 1,
      'listPrice': {'amountInMicros': 506220000, 'currencyCode': 'INR'},
      'retailPrice': {'amountInMicros': 253110000, 'currencyCode': 'INR'}}]},
   'accessInfo': {'country': 'IN',
    'viewability': 'PARTIAL',
    'embeddable': True,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': True,
     'acsTokenLink': 'http://books.google.co.in/books/download/A_TIME_TO_KILL-sample-epub.acsm?id=VzEIEAAAQBAJ&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api'},
    'pdf': {'isAvailable': True,
     'acsTokenLink': 'http://books.google.co.in/books/download/A_TIME_TO_KILL-sample-pdf.acsm?id=VzEIEAAAQBAJ&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api'},
    'webReaderLink': 'http://play.google.com/books/reader?id=VzEIEAAAQBAJ&hl=&source=gbs_api',
    'accessViewStatus': 'SAMPLE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'A Time To Kill is available in paperback. The book has 672 pages. The language of the book is English, and the author of the book is John Grisham.'}},
  {'kind': 'books#volume',
   'id': 'Jun1zwEACAAJ',
   'etag': 'c5DcsEL/he0',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/Jun1zwEACAAJ',
   'volumeInfo': {'title': 'Level 5: a Time to Kill Book and MP3 Pack',
    'authors': ['John Grisham'],
    'publisher': 'Pearson ELT',
    'publishedDate': '2011-12-20',
    'description': 'Ten-year-old Tonya Hailey is attacked and raped by two local men. Carl Lee, Tonya’s father, shoots them. Now only his lawyer and friend, Jake Brigance, stands between him and the electric chair. Is there a legal defense for Carl Lee’s actions?',
    'industryIdentifiers': [{'type': 'ISBN_10', 'identifier': '1408276658'},
     {'type': 'ISBN_13', 'identifier': '9781408276655'}],
    'readingModes': {'text': False, 'image': False},
    'pageCount': 0,
    'printType': 'BOOK',
    'categories': ['Foreign Language Study'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,
    'contentVersion': 'preview-1.0.0',
    'panelizationSummary': {'containsEpubBubbles': False,
     'containsImageBubbles': False},
    'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=Jun1zwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api',
     'thumbnail': 'http://books.google.com/books/content?id=Jun1zwEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
    'language': 'en',
    'previewLink': 'http://books.google.co.in/books?id=Jun1zwEACAAJ&dq=intitle:A+Time+to+Kill&hl=&cd=6&source=gbs_api',
    'infoLink': 'http://books.google.co.in/books?id=Jun1zwEACAAJ&dq=intitle:A+Time+to+Kill&hl=&source=gbs_api',
    'canonicalVolumeLink': 'https://books.google.com/books/about/Level_5_a_Time_to_Kill_Book_and_MP3_Pack.html?hl=&id=Jun1zwEACAAJ'},
   'saleInfo': {'country': 'IN',
    'saleability': 'NOT_FOR_SALE',
    'isEbook': False},
   'accessInfo': {'country': 'IN',
    'viewability': 'NO_PAGES',
    'embeddable': False,
    'publicDomain': False,
    'textToSpeechPermission': 'ALLOWED',
    'epub': {'isAvailable': False},
    'pdf': {'isAvailable': False},
    'webReaderLink': 'http://play.google.com/books/reader?id=Jun1zwEACAAJ&hl=&source=gbs_api',
    'accessViewStatus': 'NONE',
    'quoteSharingAllowed': False},
   'searchInfo': {'textSnippet': 'Ten-year-old Tonya Hailey is attacked and raped by two local men.'}},
  {'kind': 'books#volume',
   'id': 'jgudnF1EUrUC',
   'etag': '2KALuNUMI8A',
   'selfLink': 'https://www.googleapis.com/books/v1/volumes/jgudnF1EUrUC',
   'volumeInfo': {'title': 'A Time to Kill',
    'authors': ['Geoffrey Household'],
    'publisher': 'Hachette UK',
    'publishedDate': '2013-04-25',
    'description': "A TIME TO KILL is a classic thriller from one of the 20th century's best crime writers. Roger Taine wants to be left alone to live quietly in the country with his wife and children. But Roland, head of British Intelligence needs his help. A vicious spy ring has a very simple idea: strategically placed foot-and-mouth disease. One isolated outbreak would spread virulently. Twenty outbreaks at the same time would be uncontrollable. And so two men must fight against time to prevent certain catastrophe...",
    'industryIdentifiers': [{'type': 'ISBN_13', 'identifier': '9781780224015'},
     {'type': 'ISBN_10', 'identifier': '178022401X'}],
    'readingModes': {'text': True, 'image': False},
    'pageCount': 109,
    'printType': 'BOOK',
    'categories': ['Fiction'],
    'maturityRating': 'NOT_MATURE',
    'allowAnonLogging': False,

In [174]:
book_list = book_pivot_table.index
book_list

Index(['16 Lighthouse Road', '1984', '204 Rosewood Lane', '24 Hours',
       '2nd Chance', '3rd Degree', '4 Blondes', '84 Charing Cross Road',
       'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
       'A Bend in the Road',
       ...
       'Writ of Execution', 'Wuthering Heights',
       'Wuthering Heights (Penguin Classics)',
       'Wuthering Heights (Wordsworth Classics)',
       'Xenocide (Ender Wiggins Saga (Paperback))', 'YOU BELONG TO ME',
       'Year of Wonders', 'You Belong To Me', 'Zoya', 'stardust'],
      dtype='object', name='Book-Title', length=1543)

In [175]:
book_isbn = book[book['Book-Title'].isin(book_list)]
book_isbn

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
18,0440234743,The Testament,John Grisham,1999,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
...,...,...,...,...,...
270671,0345478940,Angel Falls,KRISTIN HANNAH,2004,Ballantine Books
270688,B00011SOYM,Grave Secrets,Kathy Reichs,2002,Scribner
270710,0523416873,The Presence,Yvonne MacManus,1982,Pinnacle Books
270954,0399150684,Naked Prey,John Sandford,2003,Putnam Berkley Audio
271169,0395647398,"The Two Towers (The Lord of the Rings, Part 2)",J. R. R. Tolkien,1992,Houghton Mifflin

In [179]:
b1 = book_isbn['ISBN'].unique()

In [181]:
b2 = book_isbn['Book-Title'].unique()
b2

array(["The Kitchen God's Wife", 'The Testament',
       'Beloved (Plume Contemporary Fiction)', ..., 'Up Country',
       'Interest of Justice', 'The Fallen Man (Joe Leaphorn Novels)'],
      dtype=object)

In [183]:
list(set(b2)-set(book_list))

[]

In [185]:
len(b2)

1543

In [187]:
len(b1)

4412

In [189]:
book_isbn[book_isbn['Book-Title'].str.contains("Devil's Waltz (Alex Delaware Novels (Paperback))", case=False, na=False)]['ISBN'].to_list()

C:\Users\Admin\AppData\Local\Temp\ipykernel_20880\2093360455.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  book_isbn[book_isbn['Book-Title'].str.contains("Devil's Waltz (Alex Delaware Novels (Paperback))", case=False, na=False)]['ISBN'].to_list()

[]

In [191]:
arr = book_isbn[book_isbn['Book-Title'].str.contains("Grave Secrets")]['ISBN'].to_list()
arr[0]

'0684859734'

In [193]:
book_isbn[book_isbn['Book-Title'] == "Devil's Waltz (Alex Delaware Novels (Paperback))"]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
3425,0553563521,Devil's Waltz (Alex Delaware Novels (Paperback)),Jonathan Kellerman,1993,Bantam Books

In [195]:
arr = book_isbn[book_isbn['Book-Title'] == "Devil's Waltz (Alex Delaware Novels (Paperback))"]['ISBN'].to_list()
arr

['0553563521']

In [207]:
# book_isbn.to_csv('book_isbn.csv')

In [433]:
api_key = 'AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw'

# Define the search query (for example: 'python programming')
query = 'python programming'
isbn = '8445071416'
title = 'El Hobbit'

# Construct the API URL
# url = f'https://www.googleapis.com/books/v1/volumes?q={query}&key={api_key}'
url = f'https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}&key={api_key}'
# url = f'https://www.googleapis.com/books/v1/volumes?q=intitle:{title}&key={api_key}'

# Make the request to the API
response = requests.get(url)
response.json()

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON response
    books = response.json()
    
    # Loop through the results and print book titles and authors
    # for item in books['items']:
    #     title = item['volumeInfo'].get('title', 'No Title')
    #     authors = item['volumeInfo'].get('authors', ['No Author'])
    #     categories = item['volumeInfo'].get('categories',['No Categories'])
    #     description = item['volumeInfo'].get('description','No Description')
    #     imageLinks = item['volumeInfo'].get('imageLinks', {}).get('thumbnail', 'https://www.corpstrat.com/wp-content/uploads/2022/05/istockphoto-1147544807-612x612-1.jpg')
    #     print('Title:', title)
    #     print(f'Authors: {", ".join(authors)}')
    #     print(f'Categories: {", ".join(categories)}')
    #     print('Description:', description)
    #     print('Thumbnail:', imageLinks)
else:
    print(f"Failed to fetch data: {response.status_code}")

response.json()

{'kind': 'books#volumes', 'totalItems': 0}

In [427]:
def details(book_name):
    arr = book_top[book_top['Book-Title'] == book_name]['ISBN'].to_list()
    for i in arr:
        print(arr)
        isbn = i
        api_key = 'AIzaSyB1dG09bREFsrUz0l3e6Su_SBrn6mVy4zw'
        url = f'https://www.googleapis.com/books/v1/volumes?q=isbn:{isbn}&key={api_key}'
        response = requests.get(url)
        book = response.json()
        if response.status_code == 200:
            # Parse the JSON response
            books = response.json()
            print(len(books))
            # Loop through the results and print book titles and authors
            if books['totalItems']==0:
                continue
            else:
                for item in books['items']:
                    title = item['volumeInfo'].get('title', 'No Title')
                    authors = item['volumeInfo'].get('authors', ['No Author'])
                    categories = item['volumeInfo'].get('categories',['No Categories'])
                    description = item['volumeInfo'].get('description','No Description')
                    imagelinks = item['volumeInfo'].get('imageLinks', {}).get('thumbnail', 'https://www.corpstrat.com/wp-content/uploads/2022/05/istockphoto-1147544807-612x612-1.jpg')
                    print('Title:', title)
                    print(f'Authors: {", ".join(authors)}')
                    print(f'Categories: {", ".join(categories)}')
                    print('Description:', description)
                    print('Thumbnail:', imagelinks)
                    return [title,authors,categories,description,imagelinks]
        else:
            print(f"Failed to fetch data: {response.status_code}")
            return []

In [429]:
details("El Hobbit")

['8445071416']
2

In [315]:
book

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
...,...,...,...,...,...
271353,014002803X,Anti Death League,Kingsley Amis,1975,Viking Press
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [317]:
book.drop(columns=['Book-Author','Year-Of-Publication','Publisher'],inplace=True)

In [319]:
book

              ISBN                                         Book-Title
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
4       0393045218                             The Mummies of Urumchi
5       0399135782                             The Kitchen God's Wife
...            ...                                                ...
271353  014002803X                                  Anti Death League
271355  0440400988                         There's a Bat in Bunk Five
271356  0525447644                            From One to One Hundred
271358  0192126040                        Republic (World's Classics)
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...

[183982 rows x 2 columns]

In [325]:
rate

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [327]:
new_ratings=book.merge(rate,on='ISBN')

In [359]:
new_ratings

,ISBN,Book-Title,User-ID,Book-Rating
0,0195153448,Classical Mythology,2,0
1,0002005018,Clara Callan,8,5
2,0002005018,Clara Callan,11400,0
3,0002005018,Clara Callan,11676,8
4,0002005018,Clara Callan,41385,0
...,...,...,...,...
768902,014002803X,Anti Death League,276077,0
768903,0440400988,There's a Bat in Bunk Five,276463,7
768904,0525447644,From One to One Hundred,276579,4
768905,0192126040,Republic (World's Classics),276680,0
768906,0767409752,A Guided Tour of Rene Descartes' Meditations o...,276680,0

In [395]:
df_grouped = new_ratings.groupby(['ISBN', 'Book-Title']).agg(
    total_ratings=('Book-Rating', 'size'),  # Number of ratings (weight)
    sum_weighted_ratings=('Book-Rating', 'sum')  # Sum of all ratings
).reset_index()

# Calculate the weighted average (sum of ratings / total ratings)
df_grouped['weighted_avg_rating'] = df_grouped['sum_weighted_ratings'] / df_grouped['total_ratings']

# Sort by the weighted average rating in descending order
df_sorted = df_grouped.sort_values(by='weighted_avg_rating', ascending=False)

# Display the result
print(df_sorted[['Book-Title', 'weighted_avg_rating']])

                                        Book-Title  weighted_avg_rating
126095              Adventures of Huckleberry Finn                 10.0
108919  Halloween Frights (Night Glow Board Books)                 10.0
121456   The Official General Hospital Trivia Book                 10.0
141134                  Secret of the Seventh Gate                 10.0
108900                  Thunder From the Clear Sky                 10.0
...                                            ...                  ...
83577                           Cyrano de Bergerac                  0.0
83572          Beowulf and Other Old English Poems                  0.0
83571                           Gulliver's Travels                  0.0
83568                    Tess of the D'Urbervilles                  0.0
183223                        The Underground City                  0.0

[183224 rows x 2 columns]

In [407]:
book_top = df_sorted[df_sorted['total_ratings']>20]
book_top

,ISBN,Book-Title,total_ratings,sum_weighted_ratings,weighted_avg_rating
162408,1844262553,Free,54,430,7.962963
180264,8445071416,El Hobbit,23,172,7.478261
3184,0060248025,Falling Up,38,263,6.921053
52930,0395177111,The Hobbit (Leatherette Collector's Edition),24,163,6.791667
85594,0553274325,Johnny Got His Gun,32,216,6.750000
...,...,...,...,...,...
86261,0553290762,A Season in Purgatory,29,7,0.241379
57922,0425178773,Day of Reckoning,26,6,0.230769
22631,0312910517,Hot Flashes,22,5,0.227273
151703,1551665336,Moon Over Water,23,5,0.217391
21026,0312240910,Monica's Story,21,2,0.095238

In [421]:
# book_top.to_csv('book_top.csv')

In [411]:
df_sorted.sort_values(by='total_ratings',ascending=False)

,ISBN,Book-Title,total_ratings,sum_weighted_ratings,weighted_avg_rating
150289,0971880107,Wild Animus,2502,2551,1.019584
50026,0385504209,The Da Vinci Code,883,4108,4.652322
20866,0312195516,The Red Tent (Bestselling Backlist),723,3134,4.334716
61948,044023722X,A Painted House,647,2062,3.187017
13936,0142001740,The Secret Life of Bees,615,2595,4.219512
...,...,...,...,...,...
144809,0895872757,Fiddle Dee Death,1,0,0.000000
144925,0896510026,Adventure Running,1,0,0.000000
144810,0895872889,Ghost Dogs of the South,1,0,0.000000
129886,0819308838,Willy Bear,1,0,0.000000
183223,B0002K6K8O,The Underground City,1,0,0.000000

In [413]:
book_top['Book-Title'].to_list()[:10]

['Free',
 'El Hobbit',
 'Falling Up',
 "The Hobbit (Leatherette Collector's Edition)",
 'Johnny Got His Gun',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'Preludes and Nocturnes (Sandman, Book 1)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Love You Forever']

In [419]:
book_top[book_top['Book-Title'] == 'Free']['ISBN'].to_list()

['1844262553']

In [500]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183982 entries, 0 to 271359
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ISBN        183982 non-null  object
 1   Book-Title  183982 non-null  object
dtypes: object(2)
memory usage: 4.2+ MB

In [504]:
book.reset_index(drop=True)

              ISBN                                         Book-Title
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0393045218                             The Mummies of Urumchi
4       0399135782                             The Kitchen God's Wife
...            ...                                                ...
183977  014002803X                                  Anti Death League
183978  0440400988                         There's a Bat in Bunk Five
183979  0525447644                            From One to One Hundred
183980  0192126040                        Republic (World's Classics)
183981  0767409752  A Guided Tour of Rene Descartes' Meditations o...

[183982 rows x 2 columns]

In [506]:
book.to_csv('book_isbn_all.csv')

In [443]:
import random

In [510]:
random.randint(0,len(book))

119372

In [512]:
book[book.index==133687]

              ISBN                               Book-Title
133687  0832901830  Gourmet Bouquet Decorative Centerpieces

In [514]:
book[book.index==82578]['Book-Title'].to_list()

[]

In [520]:
book.iloc[82578]['Book-Title']

'Battling the Klan (The American Adventure)'

In [522]:
num = [random.randint(0,len(book)) for i in range(10)]
book_array = []
print(num)
for i in range(10):
    book_array.append(book.iloc[num[i]]['Book-Title'])
# book_array = book_isbn_all[book_isbn_all.index==133687]['Book-Title']
print(book_array)

[147157, 110682, 128810, 39446, 74289, 136177, 9840, 12418, 161396, 103417]
['An Unquiet Mind', "Apache's Desire (Heartfire Romance)", 'Crocodile on the Sandbank', 'One Virgin Too Many', 'Dark Angel', 'Speed (Smallville Series for Young Adults, No. 5)', 'Primer of Jungian Psychology', 'Chocolat', 'WARRIOR APPRENTICE', 'Rich As Sin']